{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temp_Trend</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- 오류 메시지를 표시할 요소 -->
    <div id="errorOverlay" class="error-overlay">
        <div class="error-message">
            <p id="errorText"></p>
            <button onclick="closeError()">확인</button>
        </div>
    </div>
    <div class="container mt-4">
        <div class="location-header">
            <style>
                #loading {
                    display: none; /* 처음에는 보이지 않게 설정 */
                    font-size: 10px;
                    color: rgb(255, 0, 221);
                }
            </style>
            <div id="loading">로딩 중...</div>
            <i class="fas fa-map-marker-alt text-danger"></i><span id="current-location"> 현위치 찾기 버튼을 눌러주세요</span>
        </div>
        <div class="main-content">
            <h1 class="text-center text-white mb-4">Temp_Trend</h1>
            <div class="content-wrapper">
                <div class="left-content">
                    <!-- 왼쪽 컨텐츠 (기존 코드) -->
                    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" onclick="call_we_data()" aria-selected="true">예보</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-news-tab" type="button" onclick="location.href='{% url 'news' %}'">날씨뉴스</button>
                        </li>
                    </ul>
                    <div class="search-bar mb-3 select-container">
                        <select id="area1_id" class="form-select mb-2" name="area1" required onchange="select_gu(this);">
                            <option value="" selected disabled hidden>시/도 선택</option>
                            <option value="01">서울특별시</option>
                            <option value="02">부산광역시</option>
                            <option value="03">인천광역시</option>
                            <option value="04">대구광역시</option>
                            <option value="05">대전광역시</option>
                            <option value="06">광주광역시</option>
                            <option value="07">울산광역시</option>
                            <option value="08">세종특별자치시</option>
                            <option value="09">경기도</option>
                            <option value="10">충청북도</option>
                            <option value="11">충청남도</option>
                            <option value="12">전라남도</option>
                            <option value="13">경상북도</option>
                            <option value="14">경상남도</option>
                            <option value="15">강원특별자치도</option>
                            <option value="16">전북특별자치도</option>
                            <option value="17">제주특별자치도</option>
                        </select>

                        <select id="area2_id" class="form-select mb-2" name="area2" style="display: none;" required>
                            <option value="" selected disabled hidden>시/군/구 선택</option>
                        </select>
                    </div>

                    <div class="mt-2">
                        <button onclick="submitForm()" class="btn btn-light btn-sm">저장</button>
                        <button onclick="resetForm()" class="btn btn-light btn-sm" id="deleteSessionBtnLocation">다시찾기</button>
                        <script>
                            // 폼을 초기화하는 함수
                            function resetForm() {
                                // 시/도 선택을 초기화
                                const area1Select = document.getElementById('area1_id');
                                if (area1Select) {
                                    area1Select.selectedIndex = 0;
                                } else {
                                    console.error('area1_id element not found');
                                }

                                // 시/군/구 선택도 초기화
                                const area2Select = document.getElementById('area2_id');
                                if (area2Select) {
                                    area2Select.style.display = 'none';
                                } else {
                                    console.error('area2_id element not found');
                                }
                            }
                        </script>
                        <button class="btn btn-light btn-sm" id="current-location-btn">현위치로 찾기</button>
                    </div>
                    
                    <div class="we-data-box">
                        <ul class="clear we-data-ul">
                            {% for we_data in we_dataList %}
                            <li class="we-data-list">
                                <ul>
                                    <li class="we-list we-time">{{ we_data.fcsttime|slice:":2"|default:"-" }}시</li>
                                    <li class="we-list we-img">
                                        <img src="{% static we_data.imgurl|default:'img/sky3.png' %}" alt="날씨 이미지">
                                    </li>
                                    <li class="we-list we-tmp">{{ we_data.TMP|default:"-"}}°C</li>
                                    <li class="we-list we-pop">{{ we_data.POP|default:"-" }}%</li>
                                    <li class="we-list we-ras">{{ we_data.PCP|default:"-" }}</li>
                                    <li class="we-list we-wind">{{ we_data.WSD|default:"-" }}</li>
                                    <li class="we-list we-atp">{{ we_data.REH|default:"-" }}</li>
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
            
                    <style>
                        .mt-2 {
                            display: flex;
                            justify-content: center; /* 수평 중앙 정렬 */
                            align-items: center; /* 수직 중앙 정렬 */
                            gap: 10px; /* 버튼 간의 간격 */
                            margin-top: 20px;
                            margin-bottom: 20px;
                        }
                    </style>

                    <script>
                        // 시/도에 따른 시/군/구 목록을 정의합니다.
                        const districtData = {
                            '01': ['강남구', '강동구', '강북구', '강서구'],
                            '02': ['해운대구', '수영구', '사하구', '부산진구'],
                            '03': ['중구', '남동구', '연수구', '부평구'],
                            '04': ['중구', '동구', '서구', '달서구'],
                            '05': ['유성구', '서구', '중구', '대덕구'],
                            '06': ['동구', '서구', '남구', '북구'],
                            '07': ['중구', '남구', '동구', '북구'],
                            '08': ['세종시'],
                            '09': ['수원시', '고양시', '성남시', '용인시'],
                            '10': ['청주시', '충주시', '제천시'],
                            '11': ['천안시', '공주시', '보령시'],
                            '12': ['목포시', '여수시', '순천시'],
                            '13': ['포항시', '경주시', '김천시'],
                            '14': ['창원시', '진주시', '통영시'],
                            '15': ['춘천시', '원주시', '강릉시'],
                            '16': ['전주시', '군산시', '익산시'],
                            '17': ['제주시', '서귀포시']
                        };

                        function select_gu(area1) {
                            const area2Select = document.getElementById('area2_id');
                            const selectedArea1 = area1.value;

                            // area2의 기존 옵션을 초기화
                            area2Select.innerHTML = '<option value="">시/군/구 선택</option>';

                            if (selectedArea1 && districtData[selectedArea1]) {
                                // 선택된 시/도에 맞는 시/군/구 추가
                                districtData[selectedArea1].forEach(district => {
                                    const option = document.createElement('option');
                                    option.value = district;
                                    option.textContent = district;
                                    area2Select.appendChild(option);
                                });

                                // 시/군/구 선택 박스를 표시
                                area2Select.style.display = 'inline-block';
                            } else {
                                // 선택된 시/도가 없으면 시/군/구 선택 박스를 숨기기
                                area2Select.style.display = 'none';
                            }
                        }
                    </script>
                    <div id="initial-buttons" class="row">
                        <div class="col">
                            <button id="genderMale" class="btn btn-secondary w-100" value="m">남자</button>
                        </div>
                        <div class="col">
                            <button id="genderFemale" class="btn btn-secondary w-100" value="w">여자</button>
                        </div>
                        <div class="col">
                            <button id="genderUnisex" class="btn btn-secondary w-100" value="unisex">unisex</button>
                        </div>
                    </div> 
                    <script>
                        document.getElementById('initial-buttons').addEventListener('change', function () {
                         var gender = this.value
                         window.location.href = '/?gender=${gender}'
                        });
                    </script>
        
                    <div id="selected-gender" class="selected">
                        <span id="selected-text"></span>
                        <button class="btn btn-secondary" onclick="resetSelection()" id="deleteSessionBtnGender">다시 선택하기</button>
                    </div>
                </div>
                
                <div class="right-content">
                    <!-- 오른쪽 컨텐츠 (지도) -->

                    <!-- <div class="row mb-3">
                        <div class="col">
                            <button class="btn btn-light w-100" onclick="showImage('temperature'); change_btn(event)">온도</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-light w-100" onclick="showImage('precipitation'); change_btn(event)">강수량</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-light w-100" onclick="showImage('wind'); change_btn(event)">바람</button>
                        </div>
                    </div> -->
                    {% include 'test.html' %}
                    <!-- <div class="weather-map-container mb-3">
                        <a id="imageLink" href="">
                            <img id="weatherImage" src="" alt="Weather Map" class="weather-map">
                        </a>
                    </div> -->
                </div>
                {% if musinsa_lists %}
                <div class="musinsa_list">
                    <table>
                        <tr>
                            <th>Product Name</th>
                            <th>Product Link</th>
                            <th>Image</th>
                            <th>Rank</th>
                            <th>Price</th>
                            <th>Category</th>
                        </tr>
                        {% for product in musinsa_lists %}
                            <tr>
                                <td>{{ product.product_name }}</td>
                                <td><a href="{{ product.product_link }}">Link</a></td>
                                <td><img src="{{ product.image_link }}" alt="Product Image" width="100"></td>
                                <td>{{ product.rank }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.category }}</td>
                            </tr>
                        {% endfor %}
                </div>
                <style>
                    .musinsa_list {
                        align-content: center;
                    }
                </style>
                {% endif %}
                <script type="text/javascript">
                    // const images = {
                    //     precipitation: { src: "{{ im }}", href: "{{ im2 }}" },
                    //     temperature: { src: "{{ im3 }}", href: "{{ im4 }}" },
                    //     wind: { src: "{{ im5 }}", href: "{{ im6 }}" }
                    // };
                
                    // function showImage(weatherType) {
                    //     const image = document.getElementById('weatherImage');
                    //     const link = document.getElementById('imageLink');
                
                    //     image.src = images[weatherType].src;
                    //     image.alt = weatherType + " Image";
                    //     link.href = images[weatherType].href;
                    // }
                    
                    // window.onload = function() {
                    //     showImage('temperature');
                    //     document.getElementById('b1').classList.add("active");
                    // }
                    
                    function change_btn(e) {
                        var btns = document.querySelectorAll(".button");
                        btns.forEach(function (btn, i) {
                            if (e.currentTarget == btn) {
                                btn.classList.add("active");
                            } else {
                                btn.classList.remove("active");
                            }
                        });
                    }
                    function call_we_data(e) {
                        fetch('{% url "call_we_data" %}')
                            .then(response => response.json())
                            .then(data => {
                                // console.log(data);  // 콘솔에서 데이터 확인
                                updateWeatherData(data)
                                // document.getElementById('data-container').textContent = JSON.stringify(data, null, 2);
                            })
                            .catch(error => console.error('Error fetching data:', error));
                    };

                    function updateWeatherData(data) {
                        const container = document.querySelector('.we-data-box');
                        container.innerHTML = ''; // 기존 데이터를 지우고 새 데이터를 추가합니다.
                        console.log("테스트",data['we_dataList'] && data.length > 0)
                        if (data['we_dataList'] && data['we_dataList'].length > 0) {
                            let html = '<ul class="clear we-data-ul">';
                            data['we_dataList'].forEach(item => {
                                html += `
                                    <li class="we-data-list">
                                        <ul>
                                            <li class="we-list we-time">${item.fcsttime.slice(0, 2)}시</li>
                                            <li class="we-list we-img">
                                                <img src="${'/static/'+item.imgurl || '/static/img/sky3.png'}" alt="날씨 이미지">
                                            </li>
                                            <li class="we-list we-tmp">${item.TMP || '-'}°C</li>
                                            <li class="we-list we-pop">${item.POP || '-'}%</li>
                                            <li class="we-list we-ras">${item.PCP || '-'}</li>
                                            <li class="we-list we-wind">${item.WSD || '-'}</li>
                                            <li class="we-list we-atp">${item.REH || '-'}</li>
                                        </ul>
                                    </li>
                                `;
                            });
                            html += '</ul>';
                            container.innerHTML = html;
                        } else {
                            container.innerHTML = '<p>No data available</p>';
                        }
                    }
                </script>
            </div>
        </div>
    </div>
    <script src="{% static 'err.js' %}"></script>
    <script src="{% static 'gender.js' %}"></script>
    <script src="{% static 'delete.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    
</body>
</html>
